/* Header */
.header {
  background-color: #DDB3B5; /* Replace with your desired background color */
}

/* Margin color */
body {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: #ffffff; /* Replace with your desired margin color */
  background-clip: content-box;
  box-shadow: inset 0 0 0 20px #FFEFEF;
}

/* Image container */
.image-container {
  text-align: center;
}

/* Text container */
.text-container {
  background-color: #FFEFEF; /* Replace with your desired text background color */
  padding: 20px;
  text-align: center;
}